<html>
    <title>Abstractness Finder</title>
    <body>
        <p>
        {% for name in names %}
        <a href="http://en.wikipedia.org/wiki/{{ name }}" >{{ name }}</a> --&gt
        {% endfor %}
        {% if not loop and not notFound and not error %}
        <a href="http://en.wikipedia.org/wiki/Philosophy" >Philosophy</a>
        {% endif %}
        </p>
        {% if loop %}
        <p>Loop detected!</p>
        {% endif %}
        {% if notFound %}
        <p>Couldn't find a page in Wikipedia with that name.</p>
        {% endif %}
        {% if error %}
        <p>Something went wrong while getting pages from Wikipedia. Try again
        later.</p>
        {% endif %}
        {% if not loop and not notFound and not error %}
        <p><b>Got to philosophy in {{ count }} steps</b></p>
        {% endif %}
        <p>Another?</p>
        {% include 'form.html' %}
        <p><small>Note: Wikipedia changes often. What this returns might not
            match the current articles exactly.</small></p>
        <p><small>Code's <a
                href="https://github.com/lukejohnston/abstractness">here</a> if
            you're into that.</small></p>
    </body>
</html>
